.app {
  padding: 30px;
  background-color: #f6f8f9;
}

.brand{
  font-size: 1.6em !important;
  font-weight: bolder;
  font-family: Ayuthaya;
  color: #b6f0cd !important; ;
  width:10%
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}
